.dash-container {
    height: auto;
    width: 100%;
}

.dash-container-grid {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    color: $color-4;

    a {
        background-color: $color-4;
        color: $color-3;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
    }
}

@media (min-width: 768px) {
    .dash-container-grid {
        width: 500px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(60px, auto);

    :hover {
        background-color: $color-4;
        color: $color-3;

        svg {
            color: $color-3;
        }

        a {
            background-color: $color-3;
            color: $color-4;
        }
    }
}

.grid-user {
    grid-column: 1 / 5;
    grid-row: 1;
    align-items: center;
    border-radius: 10px;
    background-color: $color-3;
}

.grid-annonce {
    grid-column: 1 / 5;
    grid-row: 2;
    align-items: center;
    border-radius: 10px;
    background-color: $color-3;
}

.grid-service {
    grid-column: 1 / 5;
    grid-row: 3;
    align-items: center;
    border-radius: 10px;
    background-color: $color-3;
}

.grid-city {
    grid-column: 1 / 5;
    grid-row: 4;
    align-items: center;
    border-radius: 10px;
    background-color: $color-3;
}

.admin-svg {
    height: 30px;
    padding: 10px;
    color: $color-4;
}



