{% extends 'base.html.twig' %}

{% block title %}Accueil - ATT {% endblock %}

{% block body %}

    {% include "Layout/nav.html.twig" %}

    <div>
        <h1>Accueil</h1>
    </div>

{% endblock %}
