{% extends 'base.html.twig' %}

{% block title %}Besoin d'aide ?
{% endblock %}

{% block body %}
	<section class="text-infos">
		<div class="text-infos-list padding-bottom-50">
			<div id="anim-title-infos-legal">
				<a href="{{ path('app.home') }}"><img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise." class="img-pages-infos"></a>
				<h1 class="margin-top-20 margin-bottom-20">Besoin d'aide ?</h1>
			</div>
			<div id="anim-infos-legal">
				<h3 class="margin-top-10 margin-bottom-10">1. Identification de l'entreprise :</h3>
			</p>
			<p>Nom de l'entreprise : Active Ton Transport<br>
				Forme juridique :
				<br>
				Capital social :
				<br>
				Siège social : 37 avenue Pablo Picasso, Vaulx en Velin, 69120<br>
				Numéro SIRET :
				<br>
				RCS :
				<br>
				Numéro de TVA intracommunautaire :
				<br>
				Responsable de la publication : Mme Louas Linda</p>

			<h3 class="margin-top-10 margin-bottom-10">2. Coordonnées de contact :</h3>
			<p>Téléphone : 0602495834<br>
				Email : activetontransport@gmail.com<br>
				Site web :
				<a href="https://active-ton-transport.fr">https://active-ton-transport.fr</a>
			</p>

			<h3 class="margin-top-10 margin-bottom-10">3. Hébergement du site :</h3>
			<p>Nom de l'hébergeur : Hostinger<br>
				Adresse de l'hébergeur :<br>
				Hostinger International Ltd.<br>
				61 Lordou Vironos Street,<br>
				6023 Larnaca,<br>
				Chypre<br>
				Téléphone : +370 645 03378</p>

			<h3 class="margin-top-10 margin-bottom-10">4. Activité de l'entreprise :</h3>
			<p>L'entreprise Active Ton Transport est spécialisée dans le transfert de véhicules. Nous offrons des services de transport de véhicules pour particuliers et professionnels, incluant le transport de véhicules neufs, d'occasion, dans toute la France et vers l’Europe.</p>

			<h3 class="margin-top-10 margin-bottom-10">5. Propriété intellectuelle :</h3>
			<p>Le contenu du site
				<a href="https://active-ton-transport.fr">https://active-ton-transport.fr</a>
				(textes, images, graphismes, logo, etc.) est la propriété exclusive de Active Ton Transport ou de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction, distribution, modification ou utilisation du contenu sans autorisation écrite préalable est interdite.</p>

			<h3 class="margin-top-10 margin-bottom-10">6. Protection des données personnelles :</h3>
			<p>En conformité avec le Règlement Général sur la Protection des Données (RGPD), Active Ton Transport s'engage à respecter la confidentialité des données personnelles collectées sur son site. Les informations recueillies sont nécessaires pour traiter vos demandes et améliorer nos services. Elles ne seront ni vendues ni cédées à des tiers sans votre consentement.<br>
				Vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant, que vous pouvez exercer en envoyant un email à [Adresse email] ou en nous écrivant à l'adresse du siège social.</p>

			<h3 class="margin-top-10 margin-bottom-10">7. Limitation de responsabilité :</h3>
			<p>Active Ton Transport s'efforce d'assurer l'exactitude des informations publiées sur son site. Toutefois, nous ne pouvons garantir que le site sera exempt d'erreurs ou d'omissions. Active Ton Transport décline toute responsabilité en cas de dommages directs ou indirects résultant de l'utilisation du site.</p>

			<h3 class="margin-top-10 margin-bottom-10">8. Droit applicable et juridiction compétente :</h3>
			<p>Les présentes mentions légales sont régies par la loi française. En cas de litige, et après tentative de résolution à l'amiable, les tribunaux de Lyon seront seuls compétents.</p>
			</div>
	</div>
</section>{% endblock %}
