{% extends 'base.html.twig' %}

{% block title %}CGV
{% endblock %}

{% block body %}
	<section class="text-infos">
		<div class="text-infos-list padding-bottom-50">
			<div id="anim-title-infos-legal">
				<a href="{{ path('app.home') }}"><img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise." class="img-pages-infos"></a>
				<h1 class="margin-top-20 margin-bottom-20">CGV</h1>
			</div>
			<div id="anim-infos-legal">
				<h3 class="margin-top-10 margin-bottom-10">1. Objet</h3>
			</p>
			<p>Les présentes Conditions Générales de Vente (CGV) régissent les relations contractuelles entre la société Active Ton Transport, dont le siège social est situé à 37 avenue Pablo Picasso, Vaulx en Velin, 69120, immatriculée au RCS de Lyon sous le numéro [Numéro SIRET], et toute personne physique ou morale (ci-après dénommée "le Client") souhaitant bénéficier des services de transfert de véhicules proposés par Active Ton Transport.</p>

			<h3 class="margin-top-10 margin-bottom-10">2. Services Proposés</h3>
			<p>Active Ton Transport propose des services de transfert de véhicules pour particuliers et professionnels. Nos prestations incluent, sans s'y limiter :</p>
			<ul>
				<li>Transport de véhicules neufs ou d'occasion.</li>
				<li>Transfert de véhicules de collection.</li>
				<li>Transport de véhicules utilitaires et professionnels.</li>
			</ul>
			<p>Les services sont fournis sous réserve de disponibilité et dans les conditions définies par le devis accepté par le Client.</p>

			<h3 class="margin-top-10 margin-bottom-10">3. Commande</h3>
			<p>Toute commande passée auprès de Active Ton Transport doit faire l'objet d'un devis préalable, accepté par le Client. La commande est réputée ferme et définitive à la réception par Active Ton Transport du devis signé par le Client accompagné du paiement des frais de dossiers prévu.</p>

			<h3 class="margin-top-10 margin-bottom-10">4. Tarifs et Modalités de Paiement</h3>
			<p>Les tarifs des services sont indiqués en euros, hors taxes (HT) et toutes taxes comprises (TTC). Les tarifs sont fixés sur la base des informations communiquées par le Client (distance, type de véhicule, etc.). Toute modification des informations initiales pourra entraîner un ajustement du tarif.</p>
			<p>Le paiement des services s'effectue selon les modalités définies dans le devis. Sauf stipulation contraire, le solde est dû à la réception de la facture. En cas de retard de paiement, des pénalités pourront être appliquées conformément à la législation en vigueur.</p>

			<h3 class="margin-top-10 margin-bottom-10">5. Annulation et Rétractation</h3>
			<p>Le Client peut annuler la commande en informant le chauffeur par écrit dans un délai de [précisez le délai, par exemple, 14 jours] avant la date prévue du transfert. En cas d'annulation tardive, des frais d'annulation pourront être facturés.</p>
			<p>Conformément aux dispositions légales, le Client particulier dispose d'un droit de rétractation de [14 jours] à compter de la date de conclusion du contrat, sauf si le service a commencé avec son accord avant la fin de ce délai.</p>

			<h3 class="margin-top-10 margin-bottom-10">6. Responsabilité</h3>
			<p>Active Ton Transport s'engage à exécuter les prestations commandées avec soin et diligence. Toutefois, la société ne saurait être tenue responsable en cas de :</p>
			<ul>
				<li>Dommages indirects, préjudices financiers ou pertes de profit subis par le Client.</li>
				<li>Retards imputables à des causes externes (conditions de circulation, intempéries, etc.).</li>
				<li>Dommages causés au véhicule résultant d’un défaut de maintenance ou d’une non-conformité aux normes techniques.</li>
			</ul>
			<p>La responsabilité d'Active Ton Transport est limitée au montant du service facturé.</p>

			<h3 class="margin-top-10 margin-bottom-10">7. Assurances</h3>
			<p>Active Ton Transport est couverte par une assurance responsabilité civile professionnelle pour les dommages pouvant survenir lors du transport des véhicules. Le Client est invité à vérifier sa propre couverture d'assurance pour le véhicule transporté.</p>

			<h3 class="margin-top-10 margin-bottom-10">8. Réclamations</h3>
			<p>Toute réclamation relative à l’exécution des services doit être formulée par écrit et envoyée à l'adresse 37 avenue Pablo Picasso, Vaulx en Velin, 69120. Active Ton Transport s'engage à traiter la réclamation dans les plus brefs délais.</p>

			<h3 class="margin-top-10 margin-bottom-10">9. Droit applicable et juridiction compétente</h3>
			<p>Les présentes CGV sont régies par le droit français. En cas de litige, les parties s'efforceront de résoudre le différend à l'amiable. À défaut de résolution amiable, les tribunaux compétents seront ceux du ressort du siège social d'Active Ton Transport.</p>

			<h3 class="margin-top-10 margin-bottom-10">10. Modifications des CGV</h3>
			<p>Active Ton Transport se réserve le droit de modifier les présentes CGV à tout moment. Les CGV applicables sont celles en vigueur à la date de la commande du Client.</p>
		</div>
	</body>
</div></div></section>{% endblock %}
