{% extends 'base.html.twig' %}

{% block title %}Mes conversation{% endblock %}

{% block body %}
{% include "Layout/nav.html.twig" %}

    <h1>Mes conversation</h1>

    <ul>
        {% if conversations %}
            {% for conversation in conversations %}
                <li>
                    <a href="{{ path('app.conversation.show', { id: conversation.id }) }}">
                        <img src="{{ asset('images/photo/' ~ conversation.annonce.user.userInfos.photoName) }}" alt="" height="80px">
                        {{ conversation.annonce.title }} - 

                        Dernier message: 
                        {% if conversation.getLastMessage() %}
                            {{ conversation.getLastMessage().content }}
                        {% else %}
                            Pas de message
                        {% endif %}
                        
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>Aucune conversation trouvée.</li>
        {% endif %}
    </ul>

{% endblock %}
