.btn-new {
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    color: black;
    background-color: $color-2;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-edit {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: $color-2;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete {
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
}

.btn-delete-user {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
        background-color: white;
        color: $color-2;
        border: 1px solid $color-2;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}