.card {
    background-color: white;
    width: 80vw; 
    height: auto;
    padding: 10px; 
    margin: 0 auto ; /* centre au milieu */
}

.card:hover {
    background-color: rgb(245, 243, 243);
}

.card-left {
    padding: 10px;
    background-color: rgb(231, 231, 231);

    position: relative; /**/
}

.card-left:before,
.card-left:after { /* pour les coins arrondis */
  content: ""; /* Ajoute du contenu vide aux pseudo-éléments, ce qui est nécessaire pour qu'ils soient affichés */
  position: absolute;
  border-radius: 10px;
  background-color: #fff; /* Couleur de fond du parent */
}

.left-between {
    align-items: center; /* aligne horizontalement */
    justify-content: space-between;
}

.card-left img {
    height: 80px;
    width: 80px;
    object-fit: cover; /* Pour s'assurer que l'image couvre entièrement le conteneur */
    border-radius: 10px;
}

.flex-card-1 {
    display: flex;
}

.card-left #card-title {
    margin-left: 20px;
}


/*  Droite  */

.card-right {
    padding: 10px;
    background-color: rgb(231, 231, 231);
}

.svg-container { /* aligne les SVG */
    display: flex;
    align-items: center;
}

.size-6 { /* taille SVG */
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.flex-card-2 {
    display: flex;
    justify-content: space-between;
}

/* Media */

@media (min-width: 768px) {
    .d-flex {
        display: flex;
    }

    .card-left {
        width: 50%;
    }

    .card-right {
        width: 50%;
    }

    .card-left:before {
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
    }
      
    .card-left:after {
        bottom: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
    }

    .card-right {
        border-left: 1px dotted #000; 
    }
}

@media (max-width: 768px) {
    .card {
        width: 90vw;
    }

    .card-left:before {
        bottom: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
    }
      
    .card-left:after {
        bottom: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
    }

    .card-right {
        border-top: 1px dotted #000; 
    }
}



