.annonce-full {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%; /* Assure que les éléments ne dépasse pas de la largeur de cette fenêtre */
    background-color: rgb(242, 242, 242);
}

/* Header */

.header-title {
    width: 100%;
    height: 75px;
    background-color: white;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.header-title-widget {
    width: 90vw;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
    align-items: end;
    position: relative;

    img {
        position: absolute;
        bottom: 1px;
        left: 1px;

        height: 60px;
        width: 70px;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .header-title-widget {
        width: 50vw;
    }
}

/* Main */

.annonce-center {
    height: auto;
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .annonce-center {
        width: 50vw;
    }
}

/* Liste annonces */

.padding-bottom-150 {
    padding-bottom: 150px;
}

.img-annonce-list {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

/* Formulaire recherche */

.annonce-menu-search {
    max-height: 0; /* rend le contenu du menu invisible */
    overflow: hidden; /* masque tout le contenu qui dépasse */
    transition: max-height 0.2s ease-out; 
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .annonce-menu-search {
        max-width: 90vw;
    }
}

.annonce-menu-search.open {
    max-height: 500px; /* ouvre le contenu du menu jusqu'à 1000px de hauteur */
    transition: max-height 0.5s ease-in;
}

.form-center-search {
    width: 100%;
}

.form-search {
    height: auto;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
} 

@media (min-width: 768px) {
    .form-search {
        max-width: 450px;
    }
}