.form { 
    width: 90vw; /* largeur */ 
    height: auto; /* hauteur automatique */
    background-color: rgb(130, 130, 219);
    padding: 10px; /* padding autour */
}

.title-form {
    margin-bottom: 30px; /* ajoute un espace en bas */
    font-size: 2em; /* ajustez la taille de la police */
    color: white; /* change la couleur du texte */
    text-align: center; /* centre le texte horizontalement */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* ajoutez une ombre arrière */
    letter-spacing: 1px; /* ajuste l'espacement entre les lettres */
}

.choice-roles {
    display: flex; /* aligne horizontalement */
    justify-content: center; /* ajoute un écart spécifique */
    margin-bottom: 30px; /* ajoute un espace en bas */

    input {
        display: none;
    }

    label {
        padding: 10px 20px; /* padding de 10 en haut et en bas + padding de 20 à gauche et à droite */
        background-color: blueviolet;
        border-radius: 5px; /* bordure arrondis */
        cursor: pointer; 
        color: white;
        margin-left: 20px;
    }

    input:checked + label {
        background-color: orange;
    color: white;
    }
}

.form-container {
    display: flex; /* aligne horizontalement */
    flex-direction: column; /* pour mettre les input en colonne à la suite */
    align-items: center; /* aligne le texte horizontalement */
    width: 90%; /* largeur */
    margin: 0 auto; /* met le formulaire au centre de son parent */
    margin-bottom: 5px; /* ajoute un écart en bas */
}

.input {
    height: 40px; /* hauteur */
    width: 90%; /* largeur */
    border-radius: 10px; /* ajoute une bordure arrondi */
    margin-top: 10px; /* ajoute un écart au dessus */
    text-align: center; /* Centre le placeholder */
    border: 1px solid red; /* largeur et couleur bordure */
}

.file-input-container {
    display: flex; /* aligne horizontalement */ 
    justify-content: center; /* met l'input au centre du parent */
    margin-top: 20px; /* ajoute une marge au dessus */
}

.file-input {
    display: none; /* cache l'input */
}

.file-label {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px; /* padding de 10 en haut et en bas + padding de 20 à gauche et à droite */
    border-radius: 10px; /* ajoute une bordure arrondi */
    cursor: pointer;
}

#title-h3 {
    margin-top: 20px; /* ajoute un écart au dessus */
    margin-bottom: 20px; /* ajoute un écart en dessou */
}

@media (min-width: 768px) {
    .form {
        width: 50vw;
    }
}

/* Login */

.image-container {
    display: flex;
    justify-content: center; /* centre horizontalement */
    margin-bottom: 20px; /* espace sous l'image */
}

/* Fin login */





























/* Design final */

.center-form {
    height: auto;
    width: 100vw;
    /* background-color: blueviolet; */
}

.form-user {
    height: auto;
    width: 90vw;
    /* background-color: grey; */
    margin: 0 auto;
}

@media (min-width: 768px) {
    .form-user {
        width: 450px;
    }
}

.icon-svg-form svg {
    height: 40px;
    color: red; /* couleur à modifier */
}

.img-form img {
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-little-line {
    margin-bottom: 30px;
}

/* form */

.form-label-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px; /* Espacement entre le label et l'input */
}

input {
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(182, 177, 177);
}

/* roles */

.choice-roles {
    display: flex; 
    justify-content: center; 

    input {
        display: none;
    }

    label {
        padding: 10px 20px; /* padding de 10 en haut et en bas + padding de 20 à gauche et à droite */
        background-color: rgb(191, 220, 238);
        cursor: pointer; 
        color: black;
        margin-left: 20px;
        width: 70px;
        text-align: center;
        border-bottom: 1px solid rgb(182, 177, 177);
    }

    input:checked + label {
        background-color: orange;
        color: white;
    }
}

/* file */

.file-input-container {
    display: flex; /* aligne horizontalement */ 
    justify-content: center; /* met l'input au centre du parent */
    margin-top: 20px; /* ajoute une marge au dessus */
}

.file-input {
    display: none; /* cache l'input */
}

.file-label {
    background-color: rgb(191, 220, 238);
    color: black;
    padding: 10px 20px; /* padding de 10 en haut et en bas + padding de 20 à gauche et à droite */
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgb(182, 177, 177);
}

/* Menu déroulant form */

.custom-select {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: red;
    border: 1px solid #b4b2b2;
    border-radius: 4px;
    margin-bottom: 10px;
}

.textarea {
    border: 1px solid rgb(182, 177, 177);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 1px;
}


/* ############ */







