/* .nav-access {
    background-color: orange;
    padding: 2px;
    border-radius: 30px;
} */
.nav-2 {
    background-color: rgb(168, 119, 214);
    position: fixed; 
    left: 50%; /* déplace l'élément au centre de l'écran */
    bottom: 50px; /* déplace l'élément à 20px du bas */
    transform: translateX(-50%); /* ajuste l'élément au centre */
    height: 40px; /* heuteur */
    width: 300px; /* largeur */
    padding: 10px; 
    border-radius: 30px;
}

.nav-2 ul {
    display: flex;
    justify-content: space-between; /* écrart */
    align-items: center; /* aligne l'élément au centre de la hauteur */
    height: 100%; /* sur 100% de la hauteur */
    list-style: none;  
}

.nav-2 ul li a {
    margin-left: 10px;
    margin-right: 10px;
    color: yellow;
    cursor: pointer;
}

nav ul li a svg {
    width: 20px;
    height: 20px;
}