.profile-full {
    height: auto;
    width: 100vw;
    background-color: rgb(242, 242, 242);
    padding-bottom: 100px;
    max-width: 100%; /* Assure que les éléments ne dépasse pas de la largeur de cette fenêtre */
}

.profile-center {
    height: auto;
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .profile-center {
        width: 50vw;
    }
}

.profile-icon-create-edit {
    justify-content: end;
    padding-top: 30px;

    svg {
        height: 35px;
        color: $color-3; /* changer de couleur en bleu */
    }
}

.profile-img {
    display: flex;
    justify-content: center;
}

.profile-img img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 40px;
}

.profile-img-name {
    display: flex;
    justify-content: center;
}

.profile-menu-contenu {
    max-height: 0; /* rend le contenu du menu invisible */
    overflow: hidden; /* masque tout le contenu qui dépasse */
    transition: max-height 0.5s ease-out; 
    width: 90vw;

    background-color: white;

    li svg {
        height: 20px;
    }
}

@media (min-width: 768px) {
    .profile-menu-contenu {
        width: 50vw;
    }
}

.profile-menu-contenu ul {
    padding: 10px;
    list-style: none;
}

.profile-menu-contenu ul li {
    margin-bottom: 8px;
}

.profile-menu-contenu.open {
    max-height: 1000px; /* ouvre le contenu du menu jusqu'à 1000px de hauteur */
    transition: max-height 1s ease-in;
}

