* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.center {
    height: 100vh;
    /* height: calc(100vh - 100px); permet de rester au centre de l'écran même avec la largeur de la nav */
    width: 100vw;
    display: grid;
    place-items: center; 
    
    /* margin: 0 auto; */
}

.center-2 {
    height: 100vh;
    height: calc(100vh - 100px); /* permet de rester au centre de l'écran même avec la largeur de la nav */
    width: 100vw;
    /* width: calc(100vw - 20px); */
    display: grid;
    place-items: center; 
}

.profile-svg {
    height: 40px;
    width: 40px;

    padding-top: 20px;
    padding-left: 20px;
}
