<!DOCTYPE html> 
<html lang="fr"> 
    <head>
        <meta charset="UTF-8"> 
        <title>{% block title %}ActiveTonTransport{% endblock %}</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta name="description" content="Optimisez la mise en relation entre chauffeurs et clients. Inscription payante, annonces, recherche facile, API de villes. Solution innovante en Symfony.">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            {% include "Layout/flash.html.twig" %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
