{% extends 'base.html.twig' %}

{% block title %}Admin - Création d'un service{% endblock %}

{% block body %}
    <h1>Création d'un service</h1>

    <div class="center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="button btn-ok">Créer</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
