{% extends 'base.html.twig' %}

{% block title %}Admin - modification d'un service{% endblock %}

{% block body %}
<div class="center-form">
    <div class="form-user">
        <div class="img-form">
            <img src="{{ asset('images/logo-png.png') }}" alt="Image du logo de l'entreprise.">
        </div>
        <div>
            <h1>Modification d'un service</h1>

            <div class="form-label-input margin-top-20">
                {{ form_start(form) }}

                <div class="form-group">
                    <label for="">Nom</label>
                    {{ form_widget(form.name) }}
                </div>

                <div class="margin-top-20">
                    <button type="submit" class="btn-new">Modifier</button>
                </div>

            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}